apiVersion: apps/v1
kind: Deployment
metadata:
  name: citrix-ingressgateway
  labels:
    app: {INGRESSGATEWAY_LABEL}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {INGRESSGATEWAY_LABEL}
  template:
    metadata:
      labels:
        app: {INGRESSGATEWAY_LABEL}
      annotations:
        scheduler.alpha.kubernetes.io/critical-pod: ""
        prometheus.io/scrape: "true"
        prometheus.io/port: "8888"
    spec:
      containers:
      - name: exporter
        image: quay.io/citrix/citrix-adc-metrics-exporter:1.2
        imagePullPolicy: IfNotPresent
        args:
        - "--target-nsip={EXPORTER_NSIP}"
        - "--port=8888"
        - "--secure=yes"
        - "--log-level=ERROR"
        env:
          - name: NS_USER
            valueFrom:
              secretKeyRef:
                name: nslogin
                key: username
          - name: NS_PASSWORD
            valueFrom:
              secretKeyRef:
                name: nslogin
                key: password
      - name: istio-adaptor
        image: {ISTIO_ADAPTOR_IMAGE}:{ISTIO_ADAPTOR_IMAGE_TAG}
        imagePullPolicy: IfNotPresent
        env:
        - name: POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: POD_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: INSTANCE_IP
          valueFrom:
            fieldRef:
              fieldPath: status.podIP
        - name: NODE_NAME
          valueFrom:
            fieldRef:
              fieldPath: spec.nodeName
        - name: APPLICATION_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.labels['app']
        args:
        - -pilot-location
        - istio-pilot.istio-system:15011
        - -proxy-type
        - router
        # Subject Alternative Name for istio-pilot which SPIFFE ID of the Istio Pilot in given case.
        # The format of this SPIFFE ID is spiffe://<spiffe_trustDomain>/ns/<namespace_of_istio-pilot>/sa/<serviceaccount_of_istio-pilot>
        # By default, trustDomain is cluster.local. Namespace is istio-system. SA: istio-pilot-service-account
        # Default value of pilotSAN spiffe://cluster.local/ns/istio-system/sa/istio-pilot-service-account
        - -pilot-SAN
        - spiffe://cluster.local/ns/istio-system/sa/istio-pilot-service-account
        - -netscaler-url
        - "{NETSCALER_URL}"
        - -vserver-ip
        - "{VSERVER_IP}"
        - -secure-connect=true
        - -adm-ip
        - ""
        # If using VPX/MPX as Ingress gateway, then specify the network profile name 
        # which was provided to Citrix Node Controller (CNC). 
        # - -net-profile
        # - "k8s"
        volumeMounts:
        - mountPath: /etc/certs
          name: istio-certs
          readOnly: true
        - mountPath: /etc/istio/ingressgateway-certs # Make sure that Gateway definition has this path mentioned in server.tls section for SIMPLE TLS
          name: citrix-ingressgateway-certs
          readOnly: true
        - mountPath: /etc/istio/ingressgateway-ca-certs # Make sure that Gateway definition has this path mentioned in server.tls section for MUTUAL TLS
          name: citrix-ingressgateway-ca-certs
          readOnly: true
        - mountPath: /etc/nslogin 
          name: nslogin
          readOnly: true
      volumes:
      - name: nslogin
        secret:
          optional: true
          secretName: nslogin
      - name: istio-certs
        secret:
          optional: true
          secretName: istio.default
      - name: citrix-ingressgateway-certs
        secret:
          optional: true
          secretName: "citrix-ingressgateway-certs" # IMPORTANT: This secret MUST BE created before deploying gateway and ingress-gateway
      - name: citrix-ingressgateway-ca-certs
        secret:
          optional: true
          secretName: "citrix-ingressgateway-ca-certs" # IMPORTANT: This secret MUST BE created before deploying gateway and ingress-gateway
---
apiVersion: v1
kind: Service
metadata:
    name: citrix-ingressgateway
    annotations:
    labels:
      app: {INGRESSGATEWAY_LABEL}
spec:
    selector:
      app: {INGRESSGATEWAY_LABEL}
    ports:
      -
        name: http2
        port: 80
        targetPort: 80
      -
        name: https
        port: 443
        targetPort: 443
---
kind: Service
apiVersion: v1
metadata:
   name: exporter
   annotations:
   labels:
     service-type: citrix-adc-monitor
spec:
   selector:
     app: {INGRESSGATEWAY_LABEL}
   ports:
   - name: exporter-port
     port: 8888
     targetPort: 8888
---


